<!DOCTYPE html>
<html>
	<head>
	    <meta charset="UTF-8">
		<title>买断老师列表</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="stylesheet" href="layui/css/layui.css" />
		<link rel="stylesheet" href="css/innerpage.css" />
		<script src="layui/layui.js"></script>
	</head>
	<body>
		<div class="teacher-buy-list">
			<h3 class="common-titile">买断老师列表</h3>
			<hr />
			
			<div class="search">
				
			   <form class="layui-form" action="">
							<div class="layui-form-item">
								<div class="layui-input-inline search-common fl">
									<input type="text" name="title" required lay-verify="required" placeholder="输入老师姓名" autocomplete="off" class="layui-input">
									<i class="layui-icon">&#xe615;</i>
								</div>
								
								<div class="fr">
									<a href="" class="layui-btn  layui-btn-normal">查看所有买断老师日历</a>
									<a href="" class="layui-btn  layui-btn-normal">查看老师监控</a>
								</div>
							</div>	
				</form>
			</div>
			
			  <div class="tearch-list-con">
			  	 <div class="tearch-img fl">
			  	 	<a href="" target="_blank"><img src="images/Fmiy6JWJ7V6smTb2J2VdPEaYubUN.png" alt="" /></a>
			  	 </div>
			  	 
			  	 <div class="info">
			  	 	<a href="" target="_blank" class="introduce fl">
			  	 		<i class="layui-icon layui-icon-username"  style="color: #D61FC7;"></i>
			  	 		<span>Mari</span>
			  	 		<i class="flag"></i>
			  	 	</a>
			  	 	
			  	 	<div class="years fl">
			  	 		<span>年龄: 20's</span>
			  	 		<span>教龄: 2 years</span>
			  	 	</div>
			  	 </div>
			  	 
			  	 <p class="distance"></p>
			  	 
			  	 <ul class="query">
			  	 	<li>
			  	 		<a href="" target="_blank">
			  	 		<i class="layui-icon layui-icon-form">&#xe63c;</i> 
			  	 		<span>查看老师简历</span>
			  	 	    </a>
			  	 	</li>

			  	 	<li>
			  	 		<a href="" target="_blank">
			  	 		<i class="layui-icon">&#xe60c;</i> 
			  	 		<span>外教自我介绍</span>
			  	 	    </a>
			  	 	</li>
			  	 	
			  	 	<li>
			  	 		<a href="" target="_blank">
			  	 		<i class="layui-icon layui-icon-dialogue">&#xe63a;</i> 
			  	 		<span>给她留言</span>
			  	 	    </a>
			  	 	</li>
			  	 	
			  	 	<li>
			  	 		<a href="teacher-usableTime.html" target="_blank">
			  	 		<i class="layui-icon layui-icon-date">&#xe637;</i> 
			  	 		<span>查看老师可用时间</span>
			  	 	    </a>
			  	 	</li>			  	 	
			  	 </ul>
			  </div>
		</div>
		
	
	</body>
</html>
