<!DOCTYPE html>
<html>
	<head>
	    <meta charset="UTF-8">
		<title>老师二级页面</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="stylesheet" href="layui/css/layui.css" />
		<link rel="stylesheet" href="css/innerpage.css" />
		<script src="layui/layui.js"></script>
	</head>
	<body>
		<div class="teacher-erji erji-common">
			<div class="erji-common-nav">
				<ul>
					<h3 class="common-titile">查看老师</h3>
					<li><a href="teacher-buy-list.html" target="erji-mainContent">买断老师列表</a></li>
					<li><a href="" target="erji-mainContent">公共外交列表</a></li>
					<li><a href="" target="erji-mainContent">买断需求列表</a></li>
					<li><a href="" target="erji-mainContent">买断老师请假</a></li>
					<li><a href="" target="erji-mainContent">欧美老师时间</a></li>
				</ul>
			</div>
			
			<div class="erji-main-content">
	           <iframe src="teacher-buy-list.html" frameborder="0" name="erji-mainContent" width="100%" height="100%"></iframe>
            </div>
		</div>
	</body>
</html>
