<!DOCTYPE html>
<html>
	<head>
	    <meta charset="UTF-8">
		<title>买断老师可用时间表</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="stylesheet" href="layui/css/layui.css" />
		<link rel="stylesheet" href="css/innerpage.css" />
		<script src="layui/layui.js"></script>
		<script type="text/javascript">

</script>
	</head>
	<body>
      <div class="teacher-usableTime">
      	<header>
      		<h1>买断老师可用时间
      			<p class="title-mark">以下老师可用时间仅作参考，具体以排课时间为准！（不同的老师适合教不同的课程）</p>
      		</h1>
      	</header>
      	
      	<section>
      		  <div class="back"><a href="teacher-buy-list.html">&lt;返回买断老师列表</a></div>
      		  <div class="intro">
      		  	<span>姓名: Mari</span>
      		  	<span>性别: 女</span>
      		  	<span>国籍: Philippines</span>
      		  	<span>年龄: 20's</span>
      		  	<span>教龄: 2 years</span>
      		  </div>
      	</section>
      </div>

	</body>
</html>
